.DS_Store
build
Debug
xcode
cmake-build-debug/
.idea
CMakeFiles
CMakeScripts
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake

TEST.build
DerivedData/


*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/


*.moved-aside
*.xccheckout
*.xcscmblueprint


